.validation-summary-errors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .validation-summary-errors ul li {
        padding: 14px 15px;
    }

    .validation-summary-errors ul li, .message-box {
        background-color: rgba(0, 0, 0, 0.33);
        text-align: center;
        border-radius: 3px;
        margin-top: 12px;
        margin-bottom: 12px;
        color: #ffffff;
    }

.message-box {
    padding: 15px 25px;
}

.full-width{
    width: 100%;
}
