html, body {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    height: 100%;
}

body {
    background-color: #B45F06;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    font-size: 56px;
    margin-bottom: 15px;
}

.form-container {
    height: 100%;
    width: auto;
    margin: auto;
    padding: 92px 30px 0;
}

.form-section {
    position: relative;
    top: 50%;
    height: 310px;
    margin-top: -200px;
}

    .form-section form {
        width: 260px;
        margin: 0 auto;
    }

.btn-lg, .input-lg {
    border-radius: 3px;
    border: 0 none;
}

.btn-cancel {
    background-color: rgba(0, 0, 0, 0.33);
    color: #FFFFFF;
    width: 85px;
}

    .btn-cancel:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .btn-cancel span {
        color: #FFFFFF;
    }

.btn-primary {
    background-color: #6AA84F;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color: #FFF;
        background-color: #639c4a;
    }