@using Escalade.Web.Public;
@model Escalade.Web.Public.Models.ForgotPasswordViewModel

@{
    Layout = Layouts.Minimalist;
}

@section title
{
    Forgot Password
}

@section Scripts {
    <script src="@Url.Content("~/lib/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
}

<div class="form-container">
    <div class="form-section">
        <div class="form-content">
            <h1>
                hastilude
            </h1>
            <div class="message-box">
                <p>
                    We've sent you an email with instructions to reset your password.
                    </p>
                <p>
                    Please make sure it didn't end up in your Junk Mail. If you aren't receiving our password reset emails, please contact us.
                </p>
            </div>
            <a class="btn btn-lg pull-left btn-primary full-width" href="@Url.Action("Login")" role="button">Done</a>
        </div>
    </div>
</div>